# macOS + Windows
.DS_Store
._*
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
​
# C extensions
*.so
*.json

### 
.empty
data/
logs/
*/*.sh
*/wandb


